# Ignore local dependencies folders
node_modules/
dist/

# Ignore local environment variable files
.env
.env.local

# Ignore operating system logs
.DS_Store
Thumbs.db

node_modules/
src/backend/node_modules/
package-lock.json
.DS_Store
